<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Tarefas</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-6 w-96">
        <div class="bg-gray-800 text-white p-4 rounded-t-lg">
            <div class="flex items-center mb-4">
                <i class="fas fa-arrow-left mr-2 cursor-pointer" id="backButton"></i>
                <h1 class="text-lg font-semibold">Registrar tarefa</h1>
            </div>
            <div class="flex items-center mb-4">
                <i style="height: 6em;"class="fas fa-calendar-alt text-2xl mr-4"></i>
                <form>
                    <div>
                        <label style="display: block;" for="end-date">Data de início: </label>
                        <input style="color: black;" id="end-date" type="date" class="border p-2 rounded" />
                        <input style="color: black;" id="end-time" type="time" name="end-time" class="border p-2 rounded" />
                    </div>
                    <div>
                        <label for="end-date">Data de término: </label>
                        <input style="color: black;" id="end-date" type="date" class="border p-2 rounded" />
                        <input style="color: black;" id="end-time" type="time" name="end-time" class="border p-2 rounded" />
                    </div>
                </form>
            </div>
            <label for="m-Status">Status
                <input class="check" type="checkbox" id="m-Status">
            </label>
        </div>
        <div class="p-4">
            <h2 class="text-gray-700 mb-2">Ocorrências</h2>
            <textarea class="w-full p-2 border rounded h-32" placeholder="Descrição" id="description"></textarea>
        </div>
        <div class="p-4">
            <button class="w-full bg-green-500 text-white py-2 rounded" id="registerButton">Registrar tarefa</button>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
