{% extends "registro_tarefas" %}
{% load static %}
{% block title %}Início{% endblock %}
{% block styles %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}
{% block content %}
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-6 w-96">
        <div class="bg-gray-800 text-white p-4 rounded-t-lg">
            <div class="flex items-center mb-4">
                <i class="fas fa-arrow-left mr-2 cursor-pointer" id="backButton"></i>
                <h1 class="text-lg font-semibold">Registrar tarefa</h1>
            </div>
            <div class="flex items-center mb-4">
                <i class="fas fa-calendar-alt text-2xl mr-4"></i>
                <form>
                    <div>
                        <label class="block" for="start-date">Data de início:</label>
                        <input id="start-date" type="date" class="border p-2 rounded text-black" />
                        <input id="start-time" type="time" name="start-time" class="border p-2 rounded text-black" />
                    </div>
                    <div class="mt-2">
                        <label class="block" for="end-date">Data de término:</label>
                        <input id="end-date" type="date" class="border p-2 rounded text-black" />
                        <input id="end-time" type="time" name="end-time" class="border p-2 rounded text-black" />
                    </div>
                </form>
            </div>
            <label for="status-checkbox" class="flex items-center">
                <input id="status-checkbox" type="checkbox" class="check mr-2">
                Status
            </label>
        </div>
        <div class="p-4">
            <h2 class="text-gray-700 mb-2">Ocorrências</h2>
            <textarea id="description" class="w-full p-2 border rounded h-32" placeholder="Digite a descrição da tarefa"></textarea>
        </div>
        <div class="p-4">
            <button class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-600 focus:ring focus:ring-green-300" id="registerButton">
                Registrar tarefa
            </button>
        </div>
    </div>
</body>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
